/****
Colors used:
C1:  Foreground color for all buttons
C2:  Background color for all buttons
C3:  Background color for 'Save' button
C4:  Foreground color for 'Run' button
C5:  Background color for 'Run' button
C6:  Properties Group header icon & label color
C7:  Properties Group header background color
C8:  Property border color
C9:  not used
C10: not used
****/

 /*=====================================================================
 Widgets, tabs
 =====================================================================*/
 body                                  { background-color: %%C2%%; }

 /* Tabs at the top of page designer (active) */
 .ui-tabs-active .ui-tabs-anchor
                            { background-color: %%C1%% !important; }

 .ui-tabs-active .ui-tabs-anchor span  { color: %%C7%% !important; }
 .ui-tabs-active .ui-tabs-anchor       { color: %%C7%% !important; }
 #sp_main a.ui-tabs-anchor             { background-color: %%C6%%; }

 /* Tabs at the top of page designer (inactive) */
 .ui-tabs-anchor > span                { color: %%C6%%; }
 .a-PageDesigner-treeTitle             { color: %%C7%%; }
 .ui-tabs--simpleInset>.a-Tabs-toolbar>.ui-tabs-nav .ui-tabs-anchor
                      { color: %%C1%%; border-right-color: %%C4%%; }

 .ui-tabs--simpleInset>.a-Tabs-toolbar>.ui-tabs-nav .ui-state-default
                                       { background-color: %%C6%%; }

 /* Toolbar below tabs */
 div.a-Toolbar-items                   { background-color: %%C1%%; }

 /* Border-color between elements */
 .body,.ui-widget-content,.a-Toolbar-pageColumn,
 .a-Property, .a-PropertyEditor-propertyGroup,
 .a-PropertyEditor-propertyGroup-body,
 .a-PropertyEditor-propertyGroup-header,
 div#sp_right .ui-dialog .a-Property   { border-color: %%C4%%; }

 /* Buttons */
 .ui-tabs-nav .ui-tabs-anchor       { border-right-color : %%C4%%; }
 div#sp_main button.a-Button        { background-color   : %%C5%%; }
 div#sp_main .a-Button.is-active,
 div#sp_main .a-Button.is-active:active,
 div#sp_main .a-MenuButton.is-active,
 div#sp_main .fc-button.ui-state-active,
 div#sp_main .ui-buttonset .ui-button.ui-state-active,
 div#sp_main .ui-buttonset .ui-button.ui-state-active.ui-state-hover:active
                            { background-color: %%C9%% !important; }

 div#sp_main .a-Button:hover, div#sp_main .fc-button.ui-state-hover
                            { background-color: %%C7%% !important; }

 /*=====================================================================
 Left pane (Tree)
 =====================================================================*/
 /* Left pane (Tree) */
 .a-PageDesigner-treeWrap             { background-color : %%C1%%; }
 div#PDrenderingTree.a-TreeView       { background-color : %%C1%%; }
 div#PDdynamicActionTree.a-TreeView   { background-color : %%C1%%; }
 div#PDprocessingTree.a-TreeView      { background-color : %%C1%%; }
 div#PDsharedCompTree.a-TreeView      { background-color : %%C1%%; }
 span.a-TreeView-label                { color            : %%C5%%; }
 span.a-TreeView-toggle               { color            : %%C5%%; }
 div.resize.u-ScrollingViewport       { background-color : %%C1%%; }
 ul.ui-widget-header                  { background-color : %%C1%%; }

 /*=====================================================================
 Properties Editor
 =====================================================================*/
 div#sp_right .a-PropertyEditor-propertyGroup-header
                                      { background-color : %%C3%%; }
 div#sp_right .a-PropertyEditor-propertyGroup-title
                                      { color: %%C7%%; }
 div#sp_right div.a-Property-fieldContainer
                                      { background-color : %%C2%%; }
 div#sp_right div.a-Property-labelContainer
                                      { background-color : %%C2%%; }

 div.a-Property.is-error div.a-Property-labelContainer,
 div.a-Property.is-error div.a-Property-fieldContainer,
 .a-Property.is-error      { background-color: %%C10%% !important; }

 div#sp_right div.a-Property,
 div#sp_right div.a-Property:hover,
 div#sp_right div.a-Property:focus,
 div#sp_right div.a-Property:active   { background-color : %%C2%%; }

 div#sp_right div.a-Property   { border-color : %%C1%% !important; }

 div#sp_right .a-Property-field:hover,
 div#sp_right .a-Property-field:focus { background-color : %%C1%%; }

 div#sp_right .a-Property-field       { background-color : %%C2%%; }
 div#sp_right .a-Property-field       { color            : %%C9%%; }
 div#sp_right .a-Property-label
                             { color : %%C5%%; text-shadow : none; }
 div#sp_right .a-Property-checkbox-label
                             { color : %%C9%%; text-shadow : none; }

 div#sp_right .a-PropertyEditor-messageText      { color : %%C6%%; }

 div#sp_right select
   { background-image : url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zd…41MTIuMTk1LS43MDcgMC0uMDk4LS4wOTctLjE0Ny0uMjI1LS4xNDctLjM1M3oiLz48L3N2Zz4=); }

 .a-Property-checkbox-label, .a-Property-radio, .a-Property-unit
                                       { text-shadow :  none; }

 /*=====================================================================
 Properties Editor
 =====================================================================*/
 div#gallery-tabs div                  { background-color : %%C2%%; }
 div#gallery-tabs .aTabs-Toolbar       { }
 div#gallery-tabs .ui-tabs-anchor
                                       { background-color : %%C6%%;
                                         border: 0px solid %%C2%%;
                                         border-radius: 2px;
                                       }
 div#R1157688004078338241 li.ui-state-default
                                      { background-color : %%C2%%; }

 /*=====================================================================
 XPlug sidekick
 =====================================================================*/
 div#xplug_pb_tabs, div#xplug_pb_docu,
 div#xplug_pb_msgview, div#xplug_pb_search
                                      { background-color : %%C2%%; }

 div#xplug_pb_resize, div#xplug_pb_right
                                      { background-color : %%C2%%; }

 /*=====================================================================
 Messages, Page Search, Help, Alert Badge
 =====================================================================*/
 div#messages, div#search, div#help   { background-color : %%C1%%; }
 div#help-container                   { background-color : %%C1%%; }
 .ui-tabs-helpTab.ui-state-active .ui-tabs-anchor
                           { background-color : %%C1%% !important; }
 div#help-container h3, div#help-container h4    { color : %%C7%%; }
 div#help-container dt                           { color : %%C7%%; }
 div#help-container a                            { color : %%C3%%; }
 div#help-container *                            { color : %%C5%%; }

 /* Messages */
 .a-AlertMessages-message                        {  color: %%C6%%; }
 .a-AlertMessages-message.is-error:hover,
 .a-AlertMessages-message.is-error:focus
                          {  background-color : %%C7%% !important; }

 /* Page Search and Sidekick (Page Details, Search) */
 div.a-Form-labelContainer .a-Form-label,
 div#xplug_pb_docu,
 div#xplug_pb_search .a-Form-label,
 .a-Form-checkboxLabel,
 .a-Form-inputContainer .checkbox_group label,
 .a-Form-inputContainer .radio_group label,
 .a-Form-radioLabel                              { color: %%C7%%;  }

 /* Alert Badge */
 span.a-AlertBadge                               { color : %%C7%%; }

 /*=====================================================================
 Scrollbars
 =====================================================================*/
 /*
 Webkit scrollbar generator
 http://mikethedj4.github.io/Webkit-Scrollbar-Generator/
 */
 ::-webkit-scrollbar                   { width: 10px; height: 10px; }
 ::-webkit-scrollbar-button            { width: 0px;  height: 0px;  }
 ::-webkit-scrollbar-thumb             { background: %%C5%%;
                                         border-radius: 50px;
                                       }
 ::-webkit-scrollbar-thumb:hover       { background: #ffffff;       }
 ::-webkit-scrollbar-thumb:active      { background: %%C3%%;        }
 ::-webkit-scrollbar-track             { background: #666666;
                                         border: 90px none #ffffff;
                                         border-radius: 45px;
                                       }

 ::-webkit-scrollbar-track:hover       { background: #666666;     }
 ::-webkit-scrollbar-track:active      { background: #333333;     }
 ::-webkit-scrollbar-corner            { background: transparent; }
